<!DOCTYPE html>

<html>
    <head>
        <title>Experiment: Simple Calculator</title>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="css/style.css">
        <script src="../vue.js"></script>
    </head>

    <body>

        <h1>Simple Calculator</h1>

        <p>
            What I'm trying out here is a bunch of different ways to connect Vue
            to stuff on the page. No components, no routing, just really simple
            data bindings.
        </p>

        <div id="app">
            <p>
                {{ message }}
            </p>
            

            <p>
                OK, so that stuff above is bound to a property. The text input below is also
                bound to it. Now you can change what's above.
            </p>

            <div>
                <input type="text" v-model="message">            
            </div>

            <p>
                Right. OK. So given that, I ought to be able to write something that can calculate
                the sum of two numbers in the boxes below.
            </p>

            <div>
                <input type="number" v-model="sumLhs">
                +
                <input type="number" v-model="sumRhs">
                =
                <span>{{sum}}</span>
            </div>

            <p>
                That took a "computed" property, which apparently is a thing. Vue seems to do some magic
                to decide what things will cause the computed property to change. That's sort of crazy. Apparently
                these get cached such that calling it again if the dependencies haven't changed will return
                a value without executing the function. That'll bite me one day, I just know it.
            </p>

            <p>
                There's a 'watch' section that runs a function whenever a data property changes. It's not as
                practical as just writing computed properties and letting the magic take over. But it was used
                to neat effect in an example that was debouncing an API call in response to typing.
            </p>

        </div>

        <script>
            var app = new Vue({
                el:"#app",
                data: {
                    sumLhs: 0,
                    sumRhs: 0,
                    message: "I just learned that anything related to Vue has to be in the element that el points to."
                },
                computed: {
                    'sum': function() {
                        console.log("test");
                        const lhs = parseInt(this.sumLhs, 10);
                        const rhs = parseInt(this.sumRhs, 10);

                        if (!isNaN(lhs) && !isNaN(rhs)) {
                            return lhs + rhs;
                        } else {
                            return "No, input numbers.";
                        }
                    }
                }
            });
        </script>

    </body>

</html>