<!DOCTYPE html>

<html>
    <head>
        <title>Experiment: Name List in Vue</title>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="css/style.css">
        <script src="js/vue.js"></script>
        <script src="views/index.vue"></script>
    </head>

    <body>

        <h1>Name List</h1>

        <div id="app">
            {{ content }}
        </div>

        <script>
            var app = new Vue({
                el:"#app",
                data: {
                    content: 'What I learned so far: I don\'t know much about Vue.'
                }
            });
        </script>

    </body>

</html>